.panel.panel-default
  .panel-body
    .pull-right
      - if repo.active?
        = link_to 'Remove',
                  repo_activation_url(id: repo.id),
                  remote: true,
                  method: :delete,
                  class: 'btn btn-danger js-repo-deactivate',
                  data: {confirm: 'Are you sure?'}
      - else
        = link_to 'Activate',
                  repo_activation_url(id: repo.id),
                  remote: true,
                  method: :put,
                  class: 'btn btn-success js-repo-activate'
    %h4
      - if repo.active?
        %a{:href => repo_klasses_url(repo)}
          = repo.full_github_name
      - else
        = repo.full_github_name
