.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title-box
          %h3 Repositories
          %span Repositories list

        %ul.panel-controls
          %li
            %a.panel-fullscreen{href: '#'}
              %i.fa.fa-expand
          %li
            = link_to repo_syncs_url, remote: true, method: :post, class: 'js-refresh-repos' do
              %i.fa.fa-refresh

      .panel-body.panel-body-table
        .table-responsive
          %table.table.table-bordered.table-striped
            %thead
              %tr
                %th{style: 'width: 100px'} Marks
                %th Repository name
                %th{style: 'width: 100px'} Smells
                %th{style: 'width: 75px'} Status
            %tbody
              - if @repos.present?
                = render(@repos)
              -else
                There is no repositories loaded yet


#js-progress-dialog.modal.fade{:data => {:backdrop => 'static', :keyboard => false}}
  .modal-dialog.modal-sm
    .modal-content
      #js-progressbar
