- content_for(:page_header_links) do
  .pull-right
    = link_to 'Refresh', repo_syncs_url, remote: true, method: :post,  class: 'js-refresh-repos btn btn-info'

= render(@repos) || 'There is no repositories loaded yet.'

#js-progress-dialog.modal.fade{:role => 'dialog', 'aria-hidden' => 'true'}
  .modal-dialog.modal-sm
    .modal-content
      #js-progressbar
