- content_for(:page_header_links) do
  .pull-right
    = link_to 'Refresh', repo_syncs_url, remote: true, method: :post,  class: 'js-refresh-repos btn btn-info'

- if @repos.present?
  = render(@repos)
-else
  %p There is no repositories loaded yet

#js-progress-dialog.modal.fade{:data => {:backdrop => 'static', :keyboard => false}}
  .modal-dialog.modal-sm
    .modal-content
      #js-progressbar
