- breadcrumb :repos

- content_for(:header_icon, 'fa-arrow-circle-o-left')

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title-box
          %h3 Repositories
          %span Repositories list

        %ul.panel-controls
          %li
            %a.panel-fullscreen{href: '#'}
              %i.fa.fa-expand
          %li
            = link_to repo_syncs_url, remote: true, method: :post, class: 'js-refresh-repos' do
              %i.fa.fa-refresh

      .panel-body.panel-body-table
        - if @repos.present?
          .table-responsive
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th{style: 'width: 100px'} Marks
                  %th Repository name
                  %th{style: 'width: 100px'} Smells
                  %th{style: 'width: 75px'} Status
              %tbody
                = render(@repos)
        - else
          There is no repositories loaded yet
