- file.smells_statistics.each do |analyzer, count|
  - smell_decorator = "Smells::#{analyzer.camelize}Decorator".constantize
  %button.btn.btn-default{disabled: true}
    %i{class: smell_decorator.icon}
    = smell_decorator.title
    &nbsp;
    %span.badge= count
