.page-sidebar
  %ul.x-navigation{class: navbar_collapsed? && 'x-navigation-minimized'}
    %li.xn-logo
      %a{href: root_url} Shiplix
      %a.x-navigation-control{href: '#'}
    %li.xn-title
      Navigation
  
    - if controller.controller_path.include?('profile')
      = render_navigation(context: :profile, renderer: Shiplix::NavbarRenderer)
    - else
      = render_navigation(renderer: Shiplix::NavbarRenderer)

    %li.xn-icon-button
      %a.x-navigation-minimize{href: '#'}
        %i.fa.fa-dedent
