.page-sidebar
  %ul.x-navigation
    %li.xn-logo
      %a{href: root_path} Shiplix
      %a.x-navigation-control{href: '#'}
    %li.xn-title
      Navigation
    %li{class: current_page?(repos_path) && 'active'}
      %a{href: repos_path}
        %i.fa.fa-desktop
        %span.xn-text
          Repositories
