- if (header = page_header).present?
  .page-title
    %h2
      - if content_for?(:header_icon)
        %span.fa{class: yield(:header_icon)}
      = header
      = yield(:page_header_links) if content_for?(:page_header_links)
