.btn-group.pull-right
  %a.btn.btn-info.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}}
    = title
    %span.caret
  %ul.dropdown-menu{role: 'menu'}
    %li.dropdown-header{role: 'presentation'} Choose view type
    %li= link_to 'Show by classes', repo_klasses_path
    %li= link_to 'Show by source files', repo_source_files_path
