%ul.x-navigation.x-navigation-horizontal.x-navigation-panel
  %li.pull-right.last
    - if signed_in?
      %a{href: '/sign_out'}
        %i.fa.fa-sign-out
        Logout
    - else
      %a{href: '/auth/github'}
        %i.fa.fa-github
        Sign in
