- breadcrumb :blocks, @repo, @build, @branch

- content_for(:header_icon, 'fa-file-text-o')

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title-box
          %h3 Classes & files

        %ul.panel-controls
          %li{style: 'width: 300px;'}
            %input.form-control.ui-autocomplete-input{placeholder: 'Search by name...', autocomplete: 'off'}
          %li
            %a.panel-fullscreen{href: '#'}
              %i.fa.fa-expand
          - if policy(@repo).manage?
            - branch_name = @build.present? ? @build.branch.name : @repo.default_branch.name
            %li
              = link_to builds_path(repo_id: @repo.id, branch: branch_name),
                        remote: true, method: :post, class: 'js-build-repo' do
                %i.fa.fa-refresh

      .panel-body.panel-body-table
        .table-responsive
          - if @blocks.present?
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  %th{style: 'width: 90px'} Marks
                  %th Name
                  %th{style: 'width: 90px'} Complexity
                  %th{style: 'width: 90px'} Duplication
                  %th{style: 'width: 90px'} LOC
                  %th{style: 'width: 90px'} Smells
              %tbody
                = render partial: 'block', collection: @blocks, locals: {repo: @repo}
          - else
            There is no classes or files yet.

      - if @blocks.present?
        .panel-footer= will_paginate @blocks, renderer: BootstrapPagination::Rails
