- breadcrumb :files, @repo, @branch

- content_for(:header_icon, 'fa-file-text-o')

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title-box
          %h3 Source Files

        %ul.panel-controls
          %li{style: 'width: 200px;'}
            = select_tag "change_branch",
                         options_from_collection_for_select(@repo.branches, :name, :name, @branch.name),
                         data: {url: repo_branch_files_url(@repo.owner, @repo, ":branch")},
                         class: "form-control js-change-branch"
          %li{style: 'width: 300px;'}
            %input.form-control.ui-autocomplete-input{placeholder: 'Search by name...', autocomplete: 'off'}
          %li
            %a.panel-fullscreen{href: '#'}
              %i.fa.fa-expand
          - if policy(@repo).manage?
            %li
              = link_to builds_url(repo_id: @repo.id, branch: @branch.name),
                        remote: true, method: :post, class: 'js-build-repo' do
                %i.fa.fa-refresh

      = render "files", files: @files, branch: @branch, repo: @repo
