.source-highline {
  color: red;
}

.source-table {
  width: 100%;
}

.source-line {
  width: 34px;
}

.messages .shiplix-comment {
   margin: 0px;
   background: #fff;
   padding: 5px 5px 5px 10px;
}

.messages .item .text .heading {
   width: 100%;
   margin-bottom: 0px;
}

.shiplix-comment .ico {
   width: 40px ;
   float: left ;
   font-size: 32px ;
   color: #33414e  ;
   margin-top: 0px ;
   margin-left: 8px ;
}

.shiplix-comment .text {
   color: #656D78  ;
   border: 1px solid #D5D5D5  ;
   padding: 5px 15px 4px 15px ;
   border-radius: 3px ;
   margin-left: 50px ;
   box-shadow: 0 0  10px rgba(0,0,0,0.1);
}

.login-box {
  .fa-lg {
    font-size: 1.33em !important;
  }

  .btn-primary {
    color: #fff !important;
  }
}

.error-exception {
  margin-top: 20px;
}



.timeline-class-name>.leftside-badge { float: left !important; margin:0px 20px 0px 0px; }
.timeline-footer-without-padding { padding:0px !important; }
.progress-in-timeline { width:250px; }
.old-class-mark {opacity: 0.4;}
.timeline-marks .badge {width:130px;}
.timeline-marks {float:left; margin-right: 20px;}
.list-group-item {min-height: 60px;}
.new-mark, .timeline-class-name {padding-top: 10px}
.progress-timeline-arrow{
    position: absolute;
    margin: 10px 0px 0px -10px;
    z-index: 100;
    border-radius: 12px;
    opacity: 0.8;
    background: #fff;
    width: 20px;
    height: 20px;
}
.progress-timeline-arrow .fa{
    margin-left: 6px;
    font-size: 12px;
    margin-top: 2px;
}
