.source-highline {
  color: red;
}

.source-table {
  width: 100%;
}

.source-line {
  width: 34px;
}

.messages .shiplix-comment {
   margin: 0px;
   background: #fff;
   padding: 5px 5px 5px 10px;
}

.messages .item .text .heading {
   width: 100%;
   margin-bottom: 0px;
}

.shiplix-comment .ico {
   width: 40px ;
   float: left ;
   font-size: 32px ;
   color: #33414e  ;
   margin-top: 0px ;
   margin-left: 8px ;
}

.shiplix-comment .text {
   color: #656D78  ;
   border: 1px solid #D5D5D5  ;
   padding: 5px 15px 4px 15px ;
   border-radius: 3px ;
   margin-left: 50px ;
   box-shadow: 0 0  10px rgba(0,0,0,0.1);
}
