%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Rating
      %th Complexity
  %tbody
    = render(@klasses) || 'There is no builds yet.'

= will_paginate @klasses, renderer: BootstrapPagination::Rails